.listFade {
    width: 10rem;
    font-size: 1.5rem ;
    line-height: 2rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;

    transition: ease-in-out 90ms;
}

.listFade:hover {
    background-color: rgb(0, 192, 0);
    transition: background-color ease-in-out 150ms;
}


.signUp {
    --tw-bg-opacity: 1;
        background-color: rgb(22 163 74 / var(--tw-bg-opacity, 1));
    border-bottom-left-radius: 30%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.signUp:hover {
    cursor: pointer;
    background-color: rgb(64, 185, 46);
}


.logIn {
    background-color: #7fffbf;
    border-top-right-radius: 30%;
    padding-left: 0.5rem;
    padding-right: 0.5rem
}

.logIn:hover {
    cursor: pointer;
    background-color: #8df3cf;
}
