.loginbtn {
    font-size: 1.25rem;
    line-height: 1.75rem;
    border-width: 3px;
    border-color: #7fffbfbd;
    border-radius: 6px;
    padding-inline: 2rem;
    padding-block: 0.75rem;

    position: absolute;
    right: 2.5rem;
    top: 1rem;

    transition: ease-out 250ms;
}

.loginbtn:hover {
    background-color: #7fffbf43;
    transition: background ease-in 170ms;
}


.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    line-height: 2rem;

    position: absolute;
    top: 1rem;

    border: 3px solid rgba(128, 128, 128, 0.289);
    border-radius: 6px;
    padding-inline: 1rem;
    padding-block: 0.75rem;
    transition: ease-out 250ms;
}

.home:hover {
    background-color: rgba(128, 128, 128, 0.136);
    transition: background ease-in 170ms;
}